name: Update Telegram Webhook

on:
  push:
    branches:
      - main

jobs:
  set-webhook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set Telegram Webhook
      run: |
        curl -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/setWebhook?url=${{ secrets.GOOGLE_APPS_SCRIPT_URL }}"
